@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    
}
body{
    
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
}
#margen-interno{
    padding: 0 200px;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    width: 100%;
    padding: 20px;
    font: white;
    top: 0;
}
.headerRight img{
    width: 150px;
    padding-left: 20px;
}
.headerLeft ul,li{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    text-transform: uppercase;
    padding-right: 20px;
}
#hero{
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(./Imagenes/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}

.texy1{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding-left: 40px;
    
}
.texy2{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-self: flex-end;
}
.texy2 img{
    min-height: 650px;
}

#seccion1{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    background-color: rgb(193, 243, 243);
    
}
.s1top h1{
    text-transform: uppercase;
}
.s1bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.s1bot a{
    color: #bbb8b8;
    font-size: 13px;
    display: inline-block;
}
.s1bot a:hover{
    color: rgb(223, 203, 250);
}
.s1Left{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: flex-start;
    padding-top: 100px;
}
.s1Left h2{
    text-decoration: underline;
    
}
.s1Right{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self:flex-end;
    /* padding-top: 100px; */
}
.s1Right h2{
    text-decoration: underline;
}
#seccion11{
    padding-top: 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s11bot{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
    overflow: hidden;
}
.s11bot img{
    min-height: 230px;
    width: 250px;
}
.s11top h1{
    text-transform: uppercase;
}
.s11bot h2{
    text-decoration: underline;
}

.s11bot a{
    color: #fff;
    font-size: 13px;
    padding: 10px 10px;
    background: #000;
    margin: 10px 0;
    display: inline-block;
}
.s11bot a:hover{
    background-color: rgb(223, 203, 250);
}
#deco1{
    min-height: 20px;
    background-color: rgb(223, 203, 250);
}
#seccion2{
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.s2Left h1{
    text-transform: uppercase;
}
.s2Right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#seccion3{
    padding-top: 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 243, 243); 
}
.s3Bot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.s3Bot img{
    min-height: 330px;
    width: 250px;
}
.s3Bot h2{
    text-decoration: underline;
    text-align: center;
}
.s3Bot p{
    text-align: center;
}
#deco2{
    min-height: 20px;
    background-color: rgb(223, 203, 250);
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footerLeft img{
    width: 200px;
    min-height: 60px;
}
.footerRight img{
    width: 100%;
    min-height: 60px;
}
@media all and (max-width: 1440px){
    #hero{
        flex-direction: column;
        min-height: auto;
    }
    #seccion1{
        flex-direction:column;
    }
    #seccion11{
        flex-direction:column;
    }
    #seccion2{
        flex-direction:column;
    }
    #seccion3{
        flex-direction:column;
    }
    #footer{
        display: flex;
        justify-content: center;
    }
   
    
   
}
@media all and (max-width: 834px){
    .s1top{
        flex-direction: column;
    }
    .s1bot{
        flex-direction: column;
    }
    .s11top{
        flex-direction: column;
    }
    .s11bot{
        flex-direction: column;
    }
    .s2Left{
        flex-direction: column;
    }
    .s2Right{
        flex-direction: column;
    }
    .s3top{
        flex-direction: column;
    }
    .s3Bot{
        flex-direction: column;
    }
    
    
}


@media all and (max-width: 390px){
    #footer{
       flex-direction: column;
    }
    .footerLeft{
         flex-direction: column;
    }
    .footerRight{
         flex-direction: column;
    }
}

